{:paths ["src" "bin" "resources"]
 :deps {io.github.kotoba-lang/banking {:git/url "https://github.com/kotoba-lang/banking.git"
                                     :git/sha "b8750ad17d16c012c7de62d4bf785973464495cc"}}
 :aliases
 {:test {:extra-paths ["test"]}}}